[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "vim/bundle/voom"]
	ignore = dirty
	path = vim/bundle/voom
	url = git://github.com/vim-scripts/VOoM.git
[submodule "vim/bundle/vim-markdown"]
	ignore = dirty
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
