[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = http://github.com/docunext/closetag.vim.git
[submodule "vim/bundle/voom"]
	path = vim/bundle/voom
	url = http://github.com/vim-scripts/VOoM.git
[submodule "vim/bundle/VST"]
	path = vim/bundle/VST
	url = http://github.com/vim-scripts/VST.git
[submodule "vim/bundle/csv.vim"]
	path = vim/bundle/csv.vim
	url = https://github.com/vim-scripts/csv.vim.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
